<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <p>Portfolio Page Here</p>

    {{> footer}}
  </body>
</html>